body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    rgba(5, 5, 5) 0%,
    rgba(5, 5, 5) 69%,
    rgb(5, 5, 5) 89%)

  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}


.ui.top.fixed.menu {
  opacity: 0.8;
  background-color: white;
}

h2 {
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

h2::after {
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

h2:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
  cursor: pointer;
}

h2:hover::after {
    opacity: 1;
}



.ui.header {
  padding: 10px;
  font-size: 2.5em !important;
  letter-spacing: 2px;
  color: #6F4839;
  text-transform: uppercase;
}

.ui.button.ss {
  letter-spacing: 2px;
  border-radius: 0%;
  text-transform: uppercase;
  background-color: #6F4839;
}

.ui.basic.button.ttt {
  color: #6F4839 !important;
  box-shadow: 0 0 0 1px #6F4839 !important;
  letter-spacing: 2px;
  border-radius: 0%;
  text-transform: uppercase;
}

.ui.button.fb {
  letter-spacing: 2px;
  border-radius: 0%;
  text-transform: uppercase;
}

@media only screen and (max-width: 800px) {
  .gsd {
    width: 90% !important;
    height: 45% !important;
  }

  .ui.text.left.aligned.container {
    padding: 0 !important;
  }
}